* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    color: black;
}

.header {
    height: 200px;
    text-align: center;
    box-sizing: border-box;
    background-color:  lemonchiffon;
    border-bottom: 1px solid #999;
  
}

.header__logo h1 {
    font: bold 60px 'arial';
    padding-top: 14px;
    letter-spacing: 1px;
}

.header__logo p {
    font: bold 20px 'arial';
    letter-spacing: 2px;
    margin-top: -1px;
}

.header__gnb ul {
    margin-top: 30px;
}

.header__gnb ul li {
    display: inline-block;
}

.header__gnb ul li a {
    display: block;
    font: bold 16px 'arial' ;
    color: rgb;
    margin:0px 16px;
    letter-spacing: 1px;

}






a{
    text-decorations:none;
    color: #000066;
}
.menu-bar{
    background-color: thistle;
    overflow:auto;
}
.menu-bar a{
    padding: 7px;
    display:inline-block;
    font-size: 11px;
    float:left;
}
.menu-bar a:hover{
    background-color:#ff12;
}
.menu-bar a.active{
    background-color:thistle;
}

.menu_wrap .dep1 > li{
  display:inline-block;
  width:150px;
  vertical-align: top;
  background:lemonchiffon;
  text-align: center;
  font-size:10px;
}

.menu_wrap .dep1 >li:hover >a {
  background-attachment: #000 purple;
  color:#FF6666;
}

.menu_wrap .dep1 >li:hover > .dep2 {
  display:block;
}

.menu_wrap .dep1 >li > a {
  display: block;
  padding:10px 0;
}

.menu_wrap .dep2 {
  display: none;
  background:#CCFFCC;
colormap

}

.menu_wrap .dep2 a {
  display: block;
  padding: 10px 0;
}

.menu_wrap .dep2 a:hover {
  text-decoration: underline;
}









body{
 
  background: #FFCCCC
}



* {margin:0;padding:0;box-sizing:border-box;}
ul, li {list-style:none;}



[name="slide"] {display:none;}
.slidebox {max-width:1000px;width:85%; margin:0 auto;}
.slidebox img {max-width:100%;}
.slidebox .slidelist {
  white-space: nowrap;
  font-size:0;
  overflow: hidden;

}
.slidebox .slideitem {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width:100%;
  transition:all .20s;
}

.slidebox .slideitem label {
  position:absolute;
  z-index:1;
  top:50%;
  transform:translateY(-50%);
  padding:20px;
  border-radius:50%;
  cursor:pointer;
}

 label.left {
  left:20px;
  background-color:#5F5F5F;
  background-image:url('left-arrow.png');
  background-position:center center;
  background-size:50%;
  background-repeat:no-repeat;
}
label.right {
  right:20px;
  background-color:#5F5F5F;
  background-image:url('right-arrow.png');
  background-position:center center;
  background-size:50%;
  background-repeat:no-repeat;
}                         

[id="slide01"]:checked ~ .slidelist .slideitem {transform:translatex(0);}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translatex(-100%);}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translatex(-200%);}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translatex(-300%);}


[id="slide01"]:checked ~ .slidelist .slideitem {transform:translateX(0)animation:slide01 20s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform:translateX(-100%);animation:slide02 20s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform:translateX(-200%);animation:slide03 20s infinite;}
[id="slide04"]:checked ~ .slidelist .slideitem {transform:translateX(-300%);animation:slide04 20s infinite;}

@keyframes slide01 {
  0% {left:0%;}
  23% {left:0%;}
  25% {left:-100%;} 
  48% {left:-100%;}
  50% {left:-200%;}
  73% {left:-200%;}
  75% {left:-300%;}
  98% {left:-300%;}
  100% {left:0%;}
}

@keyframes slide02 {
  0% {left:0%;}
  23% {left:0%;}
  25% {left:-100%;} 
  48% {left:-100%;}
  50% {left:-200%;}
  73% {left:-200%;}
  75% {left:100%;}
  98% {left:100%;}
  100% {left:0%;}
}


@keyframes slide03 {
  0% {left:0%;}
  23% {left:0%;}
  25% {left:-100%;} 
  48% {left:-100%;}
  50% {left:200%;}
  73% {left:200%;}
  75% {left:100%;}
  98% {left:100%;}
  100% {left:0%;}
}

@keyframes slide04 {
  0% {left:0%;}
  23% {left:0%;}
  25% {left:300%;} 
  48% {left:300%;}
  50% {left:200%;}
  73% {left:200%;}
  75% {left:100%;}
  98% {left:100%;}
  100% {left:0%;}
}

/* main_text1 */
.main_text1 {
  width:100%
  height:659px;
}

.main_text1 > h1 {
  padding-top: 50px;
  text-align: center;
}

 .main_text1 > .contents1 {
   text-align: center;
 }

 .service {
   width:1280px;
   display: flex;
   margin:auto;
   height:427px;
 }

.service > .contents2 {
  padding: 20px;
}

.service > .contents2 > h2{
  margin-bottom: 27px;
} 




